.root {
-fx-base: rgb(50, 50, 50);
-fx-background: rgb(50, 50, 50);
-fx-control-inner-background:  rgb(70, 70, 70);
-fx-focus-color: rgb(90,90,90);
-fx-faint-focus-color: transparent;
}

.Label-Danfango{
   -fx-text-fill: #FF4500;
}

.label-cc{
   -fx-text-fill: #FF4500;
}

TextField{
    -fx-text-fill:#F2F4F4;
    -fx-prompt-text-fill: #F2F4F4;
    -fx-control-inner-background:  rgb(70, 70, 70);
}

.tab{
    -fx-pref-width: 250;
    -fx-background-color: rgb(40, 40, 40);
}

.tab-header-background {
    -fx-background-color:transparent
}

.tab:selected{
-fx-background-color: linear-gradient(to top, -fx-base, derive(-fx-base,30%));
}

.list-view:focused .list-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

.list-view:focused .list-cell:filled:selected, .list-view:focused .list-cell:filled:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: gray;
    -fx-text-fill: -fx-selection-bar-text;
}

.list-view:focused .list-cell:filled:focused:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: gray;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-selection-bar-text;
}


.list-cell:filled:selected:focused, .list-cell:filled:selected, .list-view:horizontal .list-cell:filled:selected {
    -fx-background-color: rgb(50,50,50);
    -fx-text-fill: #F2F4F4;
}

.list-cell:filled:selected:focused:disabled, .list-cell:filled:selected:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.list-cell:filled:hover {
    -fx-background-color: rgb(80,80,80);
    -fx-text-fill: -fx-text-inner-color;
}

.list-view:focused .list-cell:filled:focused:hover {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-cell-hover-color;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-text-inner-color;
}